header {
    background-color: cadetblue;
    padding: 20px;
    border: 12px solid rebeccapurple;
    margin-left: 20px;
}

.main_heading {
    color: red;
    border: 10px solid burlywood;
    font-size: 40px;
    
}

.subheading_1 {
    color: rgb(13, 11, 141);
    border: 10px solid rgb(23, 4, 126);
    left: 30px;
}

.subheading_2 {
    color: rgb(190, 124, 2);
    border: 10px solid rgb(80, 3, 3);
}

.subheading_3 {
    color: rgb(116, 7, 92);
    border: 10px solid rgb(3, 112, 17);
}